/*
Date: 3/12/23
Page: about-styles.css
Styles specific to the about us page
*/

/* Mobile first design*/
.about-us-main{
  display: flex;
  flex-direction: column;
}

/* Image slideshow */
.slideshow {
  margin-bottom: 5%;
  position: relative;
  max-width: 600px;
  align-self: center;
}
.slideshow-image{
  max-width: 600px;
  height: auto;
}
.photo-caption h3, .photo-caption p {
  display: none;
}

/* Next and previous arrows for slideshow */
.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  color: #fff;
  font-size: 4em;

}
.next {
  right: 0;
}

/* About us Paragraph */
.about-us h1 {
  padding-left: 2%;
  display: inline;
  font-size: 1.8em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  color: #fff;
}
.about-us p{
  display: inline;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}


/* Styles for tablet viewport */
@media screen and (min-width: 620px), print {

  /* Flip order of divs on tablet viewport */
  .about-us-main{
    display: flex;
    flex-direction: column-reverse;
  }

  /* Tablet style rules for image slideshow*/
  .slideshow {
    padding-top: 5%;
    max-width: 800px;
  }
  .slideshow-image{
    max-width: 800px;
    height: auto;
  }
  .photo-caption h3, .photo-caption p {
    display: block;
    text-align: center;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;

  }

  /* Tablet style rules for about us paragraph*/
  .about-us h1 {
    font-size: 2em;
  }

}


/* Styles for desktop viewport*/
@media screen and (min-width: 1000px), print {

  /* Flip order of divs on tablet viewport */
  .about-us-main{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5%;
    padding-left: 5%;
  }

  /* large desktop style rules for image slideshow*/
  .slideshow {
    margin-left: 2%;
  }

  /* About us Paragraph */
  .about-us {
    max-width: 40%;
    margin: auto;

  }

}


/* Styles for large desktop viewport*/
@media screen and (min-width: 1921px), print {

}
