/* 
File Name: styles.css
Date: 3/02/2023
*/

/* media query - tablet viewport */
@media screen and (min-width: 630px), print {
   
   table {
        border: 1px solid #2a1f14;
        border-collapse: collapse;
        margin: 0 auto;
	
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }
	
	th, td {
        border: 1px solid;
        padding: 1%;
		width: 25%;
    }

    th {
        font-size: 1.15em;
    }
	
}
	


@media 
only screen and (max-width: 620px) {

	caption {
        font-size: 1.35em;
        font-weight: bold;
		padding-bottom: 5%;
		border: 5px solid black;
    }

	/* Force table to not be like tables anymore */
	table, caption, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	th {
		font-size: 1.2em;
	}
	
	td { 
		/* Behave  like a "row" */
		border-bottom: 1px solid black; 
		position: relative;
		text-align: center;
		padding: 0.5%;
	}
}