/* 
File Name: index-styles.css
Description: Page specific styles for the Index and News page
Date: 2/26/2023
*/

/* Mobile first: Styles for Main Section of Index and News page*/

/* Style for news feed on index / news page */
.home-feed {
  padding: 1%;
  margin-bottom: 3%;
  background-color: #000;
  height: auto;
  display:flex;
  
}
.home-feed-image{
  margin: 2%;
  max-width: 160px;
  height: auto;
  display: flex;
}
.home-feed-text{
  color: #fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8em;
  text-align:left;
}
/* Index and news page */
.subheading{
  text-align: center;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
}


/* Styles for sidebar on index and news page */
.sidebar-title {
  display: none;
}
/* Styles for sidebar on index page */
.home-sidebar, .news-final-scores {
  padding: 1%;
  margin-bottom: 10%;
  height: auto;
  width: calc(100% - 10px);
  display: inline-block;
}
.home-sidebar{
  background-color: #28282B;
}
.home-sidebar p, .home-sidebar i {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
.home-sidebar h3 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-align: center;
}

/* Style rules for news page */
.news-main {
  display: flex;
  flex-direction: column-reverse;
}
.news-final-scores {
  background-color: #28282B;
  height: fit-content;
}
.news-final-scores h3, .news-final-scores p {
  color: #fff;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.news-subheading {
  text-align: center;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  
}


/* Hide Final Scores sidebar on Mobile index page */
.final-scores{
  display: none;
}



/* Styles for tablet viewport */
@media screen and (min-width: 620px), print {
 
  /* Show sidebar, hide subheading on index and news page */
  .sidebar-title {
    display: block;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 0%;
  }
  .subheading{
    display: none;
  }

}

@media screen and (min-width: 750px), print {
  /* Index page styles */
  .index-main{
    display: flex;
    flex-direction: row-reverse;
  }
  /* Sidebar */
  .home-sidebar{
    width: 25%;
  }

  /* Home feed (index and news page) */
  .home-feed-container{
    flex-direction: column;
    margin-right: 1%;
    margin-left: 1%;   
    width: 75%;
    align-items: center;

  }
  .home-feed {
    margin: 2%;
    padding: 0;
    height: auto;
    max-width: 760px;
  }

  /* News page styles */
  .news-main {
    display: flex;
    flex-direction: row-reverse;
  }
  .news-final-scores{
    width: 25%;
    max-width: 310px;
  }


}

/* Styles for desktop viewport*/
@media screen and (min-width: 1000px), print {
 
  /* Index page style rules*/
  /* Sidebar */
  .home-sidebar{
    width: 20%;
    max-width: 300px;
  }
  .home-feed-container{
    width: 60%;
    margin-left: 2%;
    margin-right: 2%; 

  }
  /* Show final scores on desktop and large desktop for index page */
  .final-scores {
    display: inline-block;
    padding: 1%;
    width: 20%;
    height:fit-content;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #28282B;
 
  }

  /* News page style rules */
  .news-final-scores {
    width: 30%;
  }


}


/* Styles for large desktop viewport*/
@media screen and (min-width: 1921px), print {
  

}

